*{
margin:0;
padding: 0;
}
body{
max-width: 100%;

}
figure{
width: 1000px;
}
img{
max-width: 100%;
}
.mapa{
position: relative;
}
.punto{

width: 40px;
height: 40px;
background-color: blue;
border-radius: 40%;
    position: absolute;
    
}

.descripcion{
width: 200px;
position: absolute;
    left: 50px;
    top:-20px;
    background-color: azure;
        visibility: hidden;

}
.punto:hover .descripcion{
visibility: visible;
}




/*puntos*/
/*#la-galana{
top:700px;
left:500px;
}*/
#puerta-vino{
top:910px;
left:500px;
}



